Ans_1

MongoDB is a popular document-oriented NoSQL database that allows for flexible and scalable storage and retrieval of data. Instead of using a traditional table-based structure, MongoDB stores data as documents in a flexible and dynamic JSON-like format, making it easy to store and retrieve data with varying structures and relationships.

Non-relational databases, also known as NoSQL databases, differ from traditional relational databases in that they do not use a table-based structure with fixed schemas. Instead, they typically use a variety of data models, such as document-based, key-value, or graph-based, and allow for more flexible storage and retrieval of data. This flexibility allows non-relational databases to scale horizontally much more easily than relational databases, making them a popular choice for applications that need to handle large amounts of data with variable structures.

MongoDB is preferred over SQL databases in scenarios where flexibility and scalability are important, such as in applications with large amounts of data with variable structures, or in applications that require high levels of read/write performance. MongoDB also has built-in features for scaling horizontally across multiple servers, making it a good choice for applications that need to handle large amounts of data and high levels of traffic. However, MongoDB may not be the best choice for applications that require complex relational queries or strict data consistency requirements, as these are areas where traditional SQL databases excel.

In [ ]:
Ans_2

MongoDB is a document-oriented NoSQL database that offers several features that make it a popular choice for modern applications. Here are some of the key features of MongoDB:

Document-oriented data model: MongoDB uses a document-oriented data model, which allows for flexible and dynamic storage of data. Data is stored as documents in BSON (Binary JSON) format, which can contain a variety of data types and can be nested to represent complex structures.

Dynamic schema: MongoDB has a dynamic schema that allows for flexible and ad-hoc changes to the data structure. This means that new fields can be added to documents without requiring a predefined schema, which makes it easier to work with data that has varying structures.

Indexing: MongoDB provides rich indexing support, including compound indexes and geospatial indexes, which can greatly improve query performance.

Querying: MongoDB supports a rich query language that allows for complex queries and aggregation pipelines, making it easy to retrieve and manipulate data.

Horizontal scaling: MongoDB can be scaled horizontally across multiple servers, which allows for high availability and performance as data grows.

Auto-sharding: MongoDB supports automatic sharding, which allows for efficient distribution of data across multiple servers.

Replication: MongoDB supports replica sets, which provide automatic failover and high availability in the event of a server failure.

ACID transactions: MongoDB supports multi-document ACID transactions, which provide data consistency and reliability in applications that require it.

Overall, MongoDB's document-oriented data model, dynamic schema, indexing, querying, horizontal scaling, auto-sharding, replication, and support for ACID transactions make it a versatile and powerful database choice for modern applications.

In [ ]:
Ans_3

In [3]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://SufiyanisticGuy:sufi7000@cluster0.atb6cg6.mongodb.net/?retryWrites=true&w=majority")
# client = pymongo.MongoClient("mongodb://localhost:27017/")   :  IF LOCALLY RUNNING

# Create a database
db = client["sufi"]

# Create a collection
mycol = db['new_file']

In [3]:
mycol.find_one()

{'_id': ObjectId('6400e713fbcf650a658b83bc'),
 '1': 67,
 '4': 2,
 '27': 3,
 '256': 4,
 '3125': 5,
 '46656': 6,
 '823543': 7,
 '16777216': 8,
 '387420489': 9}

In [ ]:
Ans_4

In [4]:
record = {"name": "John", "address": "Highway 37"}
mycol.insert_one(record)

In [6]:
records = [
  {"name": "Amy", "address": "Apple st 652"},
  {"name": "Hannah", "address": "Mountain 21"},
  {"name": "Michael", "address": "Valley 345"},
  {"name": "Sandy", "address": "Ocean blvd 2"},
  {"name": "Betty", "address": "Green Grass 1"},
  {"name": "Richard", "address": "Sky st 331"},
  {"name": "Susan", "address": "One way 98"},
  {"name": "Vicky", "address": "Yellow Garden 2"},
  {"name": "Ben", "address": "Park Lane 38"},
  {"name": "William", "address": "Central st 954"},
  {"name": "Chuck", "address": "Main Road 989"},
  {"name": "Viola", "address": "Sideway 1633"}
]
mycol.insert_many(records)

In [15]:
data = [
  {"name": "John", "age": 30},
  {"name": "Amy", "age": 25},
  {"name": "Bob", "age": 35},
  {"name": "Tom", "age": 40},
  {"name": "Lisa", "age": 28},
]

mycol.insert_many(data)

In [10]:
mycol.find_one()

{'_id': ObjectId('6400e713fbcf650a658b83bc'),
 '1': 67,
 '4': 2,
 '27': 3,
 '256': 4,
 '3125': 5,
 '46656': 6,
 '823543': 7,
 '16777216': 8,
 '387420489': 9}

In [11]:
for record in mycol.find():
    print(record)

{'_id': ObjectId('6400e713fbcf650a658b83bc'), '1': 67, '4': 2, '27': 3, '256': 4, '3125': 5, '46656': 6, '823543': 7, '16777216': 8, '387420489': 9}
{'_id': ObjectId('6400e8eefbcf650a658b83be'), 'ls': ['234r31', [True, False, 'dfvsdz', 43], 45.32]}
{'_id': ObjectId('6402000b0a9e1d5007743d51'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('640200210a9e1d5007743d52'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640200210a9e1d5007743d53'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640200210a9e1d5007743d54'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640200210a9e1d5007743d55'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640200210a9e1d5007743d56'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640200210a9e1d5007743d57'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640200210a9e1d5007743d58'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640200210a9e1d5007743d59'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640200210a9e1d5007743d5a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640200210a9e1d5007743d5b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640200210a9e1d5007743d5c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640200210a9e1d5007743d5d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
Ans_5

The find() method in MongoDB is used to query a collection and return a cursor to the matching documents. The find() method can accept various parameters to filter and limit the results.

In [12]:
# Query all documents in a collection
cursor = mycol.find()

for document in cursor:
    print(document)

{'_id': ObjectId('6400e713fbcf650a658b83bc'), '1': 67, '4': 2, '27': 3, '256': 4, '3125': 5, '46656': 6, '823543': 7, '16777216': 8, '387420489': 9}
{'_id': ObjectId('6400e8eefbcf650a658b83be'), 'ls': ['234r31', [True, False, 'dfvsdz', 43], 45.32]}
{'_id': ObjectId('6402000b0a9e1d5007743d51'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('640200210a9e1d5007743d52'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640200210a9e1d5007743d53'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640200210a9e1d5007743d54'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640200210a9e1d5007743d55'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640200210a9e1d5007743d56'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640200210a9e1d5007743d57'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640200210a9e1d5007743d58'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640200210a9e1d5007743d59'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640200210a9e1d5007743d5a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640200210a9e1d5007743d5b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640200210a9e1d5007743d5c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640200210a9e1d5007743d5d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
# Query documents that match a specific criteria

query = {"name": "John"}
cursor = mycol.find(query)
for document in cursor:
    print(document)

{'_id': ObjectId('6402000b0a9e1d5007743d51'), 'name': 'John', 'address': 'Highway 37'}

In [14]:
# Query documents and return only selected fields

query = {"name": "John"}
projection = {"_id": 0, "name": 1}
cursor = mycol.find(query, projection)
for document in cursor:
    print(document)

{'name': 'John'}

Ans_6

The sort() method in MongoDB is used to sort the results of a query in ascending or descending order. The sort() method takes one or more fields as arguments, and each field can be specified as either ascending or descending order. If no sort order is specified, the default is ascending order.

In [17]:
# Sort documents in ascending order by name
cursor = mycol.find().sort("name")

print("Sorted by name (ascending):")
for document in cursor:
    print(document)

Sorted by name (ascending):
{'_id': ObjectId('6400e713fbcf650a658b83bc'), '1': 67, '4': 2, '27': 3, '256': 4, '3125': 5, '46656': 6, '823543': 7, '16777216': 8, '387420489': 9}
{'_id': ObjectId('6400e8eefbcf650a658b83be'), 'ls': ['234r31', [True, False, 'dfvsdz', 43], 45.32]}
{'_id': ObjectId('640200210a9e1d5007743d52'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6402031c0a9e1d5007743d5f'), 'name': 'Amy', 'age': 25}
{'_id': ObjectId('640200210a9e1d5007743d5a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640200210a9e1d5007743d56'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6402031c0a9e1d5007743d60'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('640200210a9e1d5007743d5c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640200210a9e1d5007743d53'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6402000b0a9e1d5007743d51'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6402031c0a9e1d5007743d5e'), 'name': 'John', 'age': 30}
{'_id': ObjectId('6402031c0a9e1d5007743d62'), 'name': 'Lisa', 'age': 28}
{'_id': ObjectId('640200210a9e1d5007743d54'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640200210a9e1d5007743d57'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640200210a9e1d5007743d55'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640200210a9e1d5007743d58'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6402031c0a9e1d5007743d61'), 'name': 'Tom', 'age': 40}
{'_id': ObjectId('640200210a9e1d5007743d59'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640200210a9e1d5007743d5d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('640200210a9e1d5007743d5b'), 'name': 'William', 'address': 'Central st 954'}

In [19]:

# Sort documents in descending order by age
cursor = mycol.find().sort("age", -1)

print("Sorted by age (descending):")
for document in cursor:
    print(document)

Sorted by age (descending):
{'_id': ObjectId('6402031c0a9e1d5007743d61'), 'name': 'Tom', 'age': 40}
{'_id': ObjectId('6402031c0a9e1d5007743d60'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('6402031c0a9e1d5007743d5e'), 'name': 'John', 'age': 30}
{'_id': ObjectId('6402031c0a9e1d5007743d62'), 'name': 'Lisa', 'age': 28}
{'_id': ObjectId('6402031c0a9e1d5007743d5f'), 'name': 'Amy', 'age': 25}
{'_id': ObjectId('6400e713fbcf650a658b83bc'), '1': 67, '4': 2, '27': 3, '256': 4, '3125': 5, '46656': 6, '823543': 7, '16777216': 8, '387420489': 9}
{'_id': ObjectId('6400e8eefbcf650a658b83be'), 'ls': ['234r31', [True, False, 'dfvsdz', 43], 45.32]}
{'_id': ObjectId('6402000b0a9e1d5007743d51'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('640200210a9e1d5007743d52'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640200210a9e1d5007743d53'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640200210a9e1d5007743d54'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640200210a9e1d5007743d55'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640200210a9e1d5007743d56'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640200210a9e1d5007743d57'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640200210a9e1d5007743d58'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640200210a9e1d5007743d59'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640200210a9e1d5007743d5a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640200210a9e1d5007743d5b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640200210a9e1d5007743d5c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640200210a9e1d5007743d5d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
Ans_7

delete_one() method is used to delete a single document from the collection that matches the specified filter. If more than one document matches the filter, only the first one found will be deleted.

delete_many() method is used to delete multiple documents from the collection that match the specified filter. All documents that match the filter will be deleted.

drop() method is used to remove an entire collection from the database.

In [5]:
#inserting data for examples
data = [
  {"name": "Alice", "age": 20, "major": "Mathematics"},
  {"name": "Bob", "age": 22, "major": "Computer Science"},
  {"name": "Charlie", "age": 21, "major": "History"},
  {"name": "David", "age": 20, "major": "English"},
  {"name": "Emily", "age": 23, "major": "Biology"},
]

mycol.insert_many(data)

In [6]:
# Find a document to delete with delete_one()
filter = {"name": "Bob"}
result = mycol.delete_one(filter)
print(result.deleted_count, "document deleted.")

1 document deleted.

In [7]:
# Find multiple documents to delete with delete_many()
filter = {"age": {"$gt": 21}}
result = mycol.delete_many(filter)
print(result.deleted_count, "documents deleted.")

6 documents deleted.

In [ ]:
# Drop the entire collection with drop()
mycol.drop()
print("Collection dropped.")

 Deleting documents is useful when cleaning up old or unnecessary data, or when updating existing data. Dropping a collection may be useful when restructuring the database or removing a collection that is no longer needed.