Ans_1.

for loops are used when you want to do operations on each member of a sequence, and while loops are used when we need to  end the loop on a condition other than the no. of repetation , to operate on the element out of order (sorting algorithms like bubble ,quick sort),access of multiple elements simultaneously.we can use a while loop when the increment value is not standard.on the other hand for loop execudes code for a predefined no. of iteration(Ex. iteraitng over a list,array or tuple)

In [6]:
l = [ 1,3,4,5,6,7,8,9,20,64,96]

In [7]:
for i  in range(len(l)):         #iterate through a list and multiply it's each element by 2
    l[i] = l[i] * 2  
l

[2, 6, 8, 10, 12, 14, 16, 18, 40, 128, 192]

In [4]:
def check(ls):                      #checks if list of int is sorted(true) or not(false)
    i = 0
    while i < len(ls) - 1:            
        if ls[i] > ls[i+1]:             #Acessing two contigous elemnts simutaneously
            return False               #false if predecessor is greater
        
        i += 1                         #updating the conditional varibale       
    return True                        

check(l)

True

In [12]:

i = 0
while i < len(l):              #iterate through a list 
    
    while l[i] % 2 == 0:       #checks every elemnet if its divisible by  2 then it divides it by 2 else continues iteration
        l[i] = int(l[i]/2)
        
    i += 1                     #updating the conditional varibale of outer while loop

l                              #modified list containing no elements divisible by two

[1, 3, 1, 5, 3, 7, 1, 9, 5, 1, 3]

Ans_2.

In [1]:
s_m = 0 
product = 1
for i in range(1,11):
    s_m = s_m + i
    product = product*i

print('the sum is ' , s_m , ' and the product is ' ,product)

the sum is  55  and the product is  3628800

In [5]:
s_m = 0 
product = 1
i =1
while i <=10:
    s_m = s_m + i
    product = product*i
    i +=1

print('the sum is ' , s_m , ' and the product is ' ,product)

the sum is  55  and the product is  3628800

Ans_3.

In [11]:
def calculatebill(unit , charge):
    if unit > 300:
        return (unit - 300)*charge[-1] + calculatebill(300  , charge)
    elif unit <= 100:
        return unit*charge[0]
    else:
        return 100*charge[0] + calculatebill(unit-100 ,charge[1:])

In [12]:
charges = [4.5 , 6, 10 ,20] 
units = int(input('Enter the no . of units'))
if units > 0:
    calculatebill(units , charges)
else:
     print("invalid units can't be in minus")

Enter the no . of units 310

2250.0

Ans_4.

In [2]:
ls =[ i for i in range(1,101)]
ls_for = []
ls_while = []

In [4]:
for elem in ls:
    cub = elem*elem*elem
    if cub % 4 == 0 or cub %5 == 0:
        ls_for.append(elem)

ls_for

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [3]:
i = 0
while i < len(ls):
    cub = ls[i] * ls[i] * ls[i]
    if cub % 4 == 0 or cub %5 == 0:
        ls_while.append(ls[i])
    i += 1    

ls_while

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [5]:
ls_for == ls_while

True

Ans_5.

In [3]:
def countvowel(string):
    vowels = ['a' , 'e' , 'i' , 'o' , 'u']
    count = 0
    for i in string:
       if i.lower() in vowels:
         count += 1
            
    return count

In [4]:
target = 'I want to become a data scientist'
countvowel(target)

12