Q1.Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list 
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [ ]:
a = [2, 3, 4, 5, 6, 7]   # create a list with variable a
a.append('mango')       # add 'mango' to the end of the list
a.extend(['banana', 'grapes', 'orange'])  # add multiple items to the end of the list
a.insert(4, 'apple')    # insert 'apple' at the 5th position (index 4) of the list
a.pop()                 # remove and return the last item from the list

print(a)                # print the modified list

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7]   # create a list L
sliced_L = L[1:4]          # slice the list from index 1 to index 3 (excluding index 4)

print(sliced_L)            # print the sliced list

[2, 3, 4]

In [ ]:
Q3.Reverse the order of given string L = [4,5,6,8,3]

In [ ]:
L = [4, 5, 6, 8, 3]   # create a list L
L.reverse()           # reverse the order of the list using the reverse() method

print(L)              # print the reversed list

[3, 8, 6, 5, 4]

Q4.Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [ ]:
L = [2, 4, 7, 3, 6, 8]   # create a list L
squared_L = [x**2 for x in L]   # use list comprehension to square the elements of L

print(squared_L)       # print the squared list

[4, 16, 49, 9, 36, 64]

Q5.Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [ ]:
def sum_tuple(t):
    """
    Takes a tuple of integers and returns the sum of its elements.
    """
    return sum(t)

# Test the function with a tuple of integers
my_tuple = (3, 5, 7, 9)
print(sum_tuple(my_tuple))

24

Q6.Create two sets of your favorite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [ ]:
# Create two sets of favorite fruits
set1 = {"apple", "banana", "orange"}
set2 = {"mango", "pineapple", "kiwi"}

# Combine the two sets into a single set using the union() method
combined_set = set1.union(set2)

# Print the resulting set
print(combined_set)

{'kiwi', 'banana', 'orange', 'pineapple', 'mango', 'apple'}

Q7.Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [ ]:
# Create a set of random words
my_set = {"apple", "banana", "cherry"}

# Add a new word to the set using the add() method
my_set.add("orange")

# Print the resulting set
print(my_set)

{'cherry', 'banana', 'orange', 'apple'}

Q8.Create a set of your favorite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [ ]:
# Create a set of favorite animals
my_set = {"lion", "tiger", "bear", "elephant"}

# Remove one animal from the set using the remove() method
my_set.remove("bear")

# Print the resulting set
print(my_set)

{'lion', 'tiger', 'elephant'}

Q9.favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
      favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
      Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. 
      Print the resulting list.

In [ ]:
# Create a set of favorite books and a list of favorite movies
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

# Combine the book set and movie list into a list of tuples using the zip() function
book_movie_pairs = list(zip(favorite_books, favorite_movies))

# Print the resulting list
print(book_movie_pairs)

[('To Kill a Mockingbird', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

Q10.Write a Python program to find the difference between consecutive numbers in a list.

In [ ]:
def consecutive_difference(lst):
    diff_lst = []
    for i in range(len(lst)-1):
        diff_lst.append(abs(lst[i] - lst[i+1]))
    return diff_lst

# Example usage
my_list = [3, 5, 2, 8, 1]
diff_list = consecutive_difference(my_list)
print(diff_list)

#note:The consecutive_difference() function takes a list as input and returns a list of differences between consecutive numbers

[2, 3, 6, 7]