<h>Ans_1

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

<h>ans_2

In [2]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_series = pd.Series(my_list)

print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

<h>Ans_3

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

<h>Ans_4

A DataFrame in Pandas is a 2-dimensional labeled data structure with columns of potentially different data types. It can be thought of as a spreadsheet or SQL table, and can be created from various data sources, including CSV files, Excel spreadsheets, SQL databases, and Python dictionaries.

A Pandas Series, on the other hand, is a 1-dimensional labeled array that can hold data of any type, including integer, float, string, boolean, and more. It is similar to a column in a spreadsheet or a vector in R.

The main difference between a DataFrame and a Series is that a DataFrame is a collection of Series, where each Series represents a column in the DataFrame. In other words, a DataFrame is a 2-dimensional structure, while a Series is a 1-dimensional structure.

In [6]:
import pandas as pd

# create a Series
my_series = pd.Series(['apple', 'banana', 'orange', 'pear', 'grape'])

# create a DataFrame
my_data = {'fruit': ['apple', 'banana', 'orange', 'pear', 'grape'],
           'color': ['red', 'yellow', 'orange', 'green', 'purple'],
           'quantity': [3, 6, 4, 2, 5]}
my_dataframe = pd.DataFrame(my_data)

In [7]:
my_dataframe

    fruit   color  quantity
0   apple     red         3
1  banana  yellow         6
2  orange  orange         4
3    pear   green         2
4   grape  purple         5

<h>Ans_5<h>

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

head() and tail(): These functions are used to view the top or bottom n rows of the DataFrame, respectively. They are useful for quickly checking the structure and contents of a DataFrame.

info(): This function is used to display a summary of the DataFrame, including the number of non-null values, the data types of each column, and the memory usage.

describe(): This function is used to generate descriptive statistics of the DataFrame, including the count, mean, standard deviation, minimum, and maximum values of each numeric column.

groupby(): This function is used to group the DataFrame by one or more columns and apply a function to each group. It is useful for aggregating and summarizing data.

pivot_table(): This function is used to create a pivot table from the DataFrame, where the values in one column are aggregated based on the values in one or more other columns.

drop(): This function is used to drop one or more columns or rows from the DataFrame.

fillna(): This function is used to fill missing values in the DataFrame with a specified value or method, such as forward fill or backward fill.

In [9]:
import pandas as pd

# create a DataFrame
data = {'gender': ['male', 'male', 'female', 'male', 'female', 'female'],
        'age': [25, 30, 27, 32, 28, 26],
        'salary': [50000, 60000, 55000, 70000, 65000, 60000]}
df = pd.DataFrame(data)

# group the DataFrame by gender and calculate the mean salary for each group
grouped = df.groupby('gender')['salary'].mean()
print(grouped)

gender
female    60000.0
male      60000.0
Name: salary, dtype: float64

<h>Ans_6


Both Series and DataFrame are mutable in nature, meaning that you can modify their values, add or remove rows and columns, and perform other operations that change the underlying data.

In contrast, the Panel data structure has been deprecated in recent versions of Pandas and is no longer recommended for use. Instead, Pandas provides the more flexible and powerful MultiIndex and GroupBy functionality for working with higher-dimensional data.

<h>Ans_7

You can create a DataFrame using multiple Series by passing a dictionary of Series to the pd.DataFrame() function. Each Series will become a column in the DataFrame, with the keys of the dictionary used as the column names

In [10]:
import pandas as pd

# create three Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# create a DataFrame from the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female